nav {
    background-color: yellowgreen;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
ul{
    display: flex;
    flex-direction: row;
    gap:10px;
    list-style: none;

}
li{
    background-color: blue;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    align-items: center;
    text-align: center;
    &:hover{
        background-color: aqua;
    }&:active{
        background-color: blueviolet;
    }
}
a{
    color: aliceblue;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
}